@{
    ViewBag.Title = "Home Page";
}

<div class=" datosPersonalesSection">
    <div class="fondoInterno">
        <div class="miFoto "></div>
        <div class="textoPieFoto">

            <h3>Juan Luis Marizcal</h3>
            <p class="subtitulosNegrita">DEVELOPER & DATA SCIENTIST CONSULTANT</p>
       
          
            <span class="subtitulosNegrita">Phone:</span><br />
            <span>33-1713-54-06</span>
            <br />
            <br />
            <span class="subtitulosNegrita">Email:</span>
            <span>juanluis.marizcalhidalgo@gmail.com</span>
            <br />
            <br />
            <div class="informacionCritica">
                <span class="subtitulosNegrita">Address:</span><br />
                <span>La villa 605</span>
                <span>Col. San isidro Ejidal</span>
                <span>Zapopan,Jal.</span>
                <br />
                <br />
                <span class="subtitulosNegrita">Date of Birth:</span>
                <br />
                <span>May 22, 1983</span>
     
            </div>
            
          
        </div>
        <div class="socialNetworks" style="color:white">
            <a class="	fa fa-linkedin fa-1x iconosSociales" ></a>
            <a class="	fa fa-facebook fa-1x iconosSociales"></a>
            <a class="	fa fa-twitter fa-1x iconosSociales"></a>
            <a class="	fa fa-google-plus fa-1x iconosSociales"></a>
            <a class="	fa fa-instagram fa-1x iconosSociales"></a>
        </div>

    </div>
    
</div>
<div >
    <div id="EXP" class="row helloSection">
        <div class="col-md-4">
            <h2>Hello! I'm Juan Luis</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
           
        </div>
      
    </div>
</div>
<hr style="border-color:lightgray" />
<div  class="experienceSection">
    <h3>EXPERIENCE</h3>
    
    <div class="anosExperiencia col-sm-12">
        <svg   xmlns="http://www.w3.org/2000/svg" width="10%" height="200" viewBox="0 0 200 200" role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;width: 6px;height: 6px;">
            <g>
                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
            </g>
        </svg>  <h4 class="col-sm-1" style="width:95%;float:right;letter-spacing: 0.25em;">2015-2017</h4>
        <h5 style="letter-spacing: 0.2em;">Software Developer</h5>
        <h5 style="    letter-spacing: 0.2em;">GOPACSI</h5>
        <p style="    line-height: 1.8em;">
            On this good adventure, I'm doing to much stuff like:
            Awesome enterprise Web Apps, Improving amazing Desktop Systems, DBA and BI stuff like Strategic Dashboard's, Operational Dashboard's, etc.
            Fast & reliable Mobile Android & iOS Application's... I'm very happy here. 
        </p>
       
    </div>
    <hr style="border-color:lightgray" />
    <div id="ED" class=" anosExperiencia" >
        <h3>EDUCATION</h3>
        <hr style="border-color:lightgray" />
        <svg xmlns="http://www.w3.org/2000/svg" width="10%" height="200" viewBox="0 0 200 200" role="img" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;width: 6px;height: 6px;">
            <g>
                <path d="M200 100c0 55.228-44.772 100-100 100S0 155.228 0 100 44.772 0 100 0s100 44.772 100 100z"></path>
            </g>
        </svg>  <h4 class="col-sm-1" style="width:95%;float:right;letter-spacing: 0.25em;">2013-2017</h4>
        <h5 style="letter-spacing: 0.2em;">Bachelor's Degree</h5>
        <h5 style="    letter-spacing: 0.2em;">CENTRO UNIVERSITARIO DE CIENCIAS ECONOMICO ADMINISTRATIVAS</h5>
        <p style="    line-height: 1.8em;">
           This was my technological school, well isn't that at all, it's a business University class. But if you desire to be better and like me loves the research and new technologies this is your place.
            It was a excelent experience... Actually I'm thinking on my master, maybe will be there.
        </p>
    </div>
    <hr style="border-color:lightgray" />
    <div id="CLI" class="clientsSection">
        <h3>CLIENTS</h3>
        <hr style="border-color:lightgray" />
        <div >
            <img style="height:80px;" src="~/Content/Imagenes/logoudg.gif" />
            <img style="height:20px;" src="~/Content/Imagenes/jabil-logo-blk.svg" />
             
        </div>

    </div>
  
</div>
<div id="SKI" class="skills">
    <h3>SKILLS</h3>

</div>
<hr style="border-color:white" />
<div class="skillsSection col-xs-12">
    <div style="letter-spacing: 0.2em;" class="ability col-xs-12">
        <span class="col-xs-12 alpha60">C# LANGUAGE</span><br />
       </div>
    
</div>
<div id="EXPE" class="experienceSection">
    <h3>EXPERTISE</h3>
    <hr style="border-color:lightgray" />
    <div>
        <h4>I'm a </h4>
        <p>This is the description of my expertise.</p>

    </div>
    

</div>
<div class="row helloSection">
    <div id="CONT" class="col-md-4">
        <h3 style="letter-spacing: 0.1em;">CONTACT ME</h3>
        <h3>Juan Luis Marizcal</h3>
        <p class="subtitulosNegrita">DEVELOPER & DATA SCIENTIST CONSULTANT</p>
        <div class="informacionCritica">
            <span class="subtitulosNegrita">Email:</span><br />
            <span>juanluis.marizcalhidalgo@gmail.com</span>
         
            <br />
            <br />
            <hr style="border-color:lightgray" />
            <div class="iconosSocialesNegro" style="color:black">
                <a class="	fa fa-linkedin fa-2x  "></a>
                <a class="	fa fa-facebook fa-2x "></a>
                <a class="	fa fa-twitter fa-2x "></a>
                <a class="	fa fa-google-plus fa-2x "></a>
                <a class="	fa fa-instagram fa-2x "></a>
            </div>
        </div>
    </div>

</div>
<form role="form" aria-label="contact form" novalidate="" id="comp-irm0eag2form-wrapper" class="form-group">
    <div id="comp-irm0eag2wrapper" class="cf1wrapper"><div id="comp-irm0eag2flex-wrapper" class="cf1flex-wrapper">
    <input type="text" id="field1" required="" aria-invalid="false" name="Nombre" value="" class="form-control" placeholder="Name" data-aid="nameField">
    <input type="text" id="field2" required="" aria-invalid="false" name="Email" value="" class="form-control" placeholder="Email" data-aid="emailField">
            </div>
    <div>
    <input type="text" id="field3" aria-invalid="false" name="Asunto" value="" class="form-control" placeholder="Subject" data-aid="subjectField">
    <input type="tel" id="field4" aria-invalid="false" name="Teléfono" value="" class="form-control" placeholder="Phone" data-aid="phoneField">
    <input type="text" id="field5" aria-invalid="false" name="Dirección" value="" class="form-control" placeholder="Address" data-aid="addressField">
        </div>
    <textarea name="Mensaje" class="form-control" placeholder="Mensaje" data-aid="messageField" id="comp-irm0eag2fieldMessage">
</textarea>
    <button type="submit" id="comp-irm0eag2submit" class="btn btn-primary btn-lg ">Send</button>
    <div aria-live="polite" class="" id="comp-irm0eag2notifications">
        </div>
          </div>
    </form>